body, #root, html {
  font: 0.9rem sans-serif;
    background: #1CA9C9;
    /* color: #1e2432; */
    height: 100%;
    margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
